:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

.container {
  background-image: url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100vh;
}

.background-image-container {
  display: flex;
  flex-direction: row;
}

.quote-img {
  position: absolute;
  height: 15%;
  left: 20%;
  top: 25%;
}

.pattern-bg {
  position: absolute;
  height: 85%;
  top: 5%;
  right: 5%;
}

.text {
  position: absolute;
  width: 42%;
  z-index: 1;
  left: 14%;
  top: 36%;
}
.slider-1 img,
.slider-2 img {
  background-repeat: no-repeat;
  height: 70%;
  width: 36%;
  position: absolute;
  left: 51%;
  top: 13%;
  border-radius: 3px;
  box-shadow: 0px 53px 53px -53px;
}
.text {
  position: absolute;
  width: 42%;
  z-index: 1;
  left: 14%;
  top: 36%;
}

.quote {
  font-weight: 300;
  font-size: 0.85em;
}

.attribute {
  display: flex;
  flex-direction: row;
}

.name {
  font-weight: 700;
  font-size: 0.5em;
  margin: 25px 10px 10px 0;
}

.position {
  color: hsl(240, 18%, 77%);
  font-weight: 700;
  font-size: 0.5em;
  margin: 25px 10px 10px 0;
}

.button {
  display: flex;
  position: absolute;
  height: 6%;
  top: 80%;
  left: 55%;
}

.prev {
  padding: 5px 20px;
  margin: 0;
  background-color: white;
  border: none;
  border-radius: 50% 0 0 50%;
}
.next {
  padding: 5px 20px;
  margin: 0;
  border: none;
  background-color: white;
  border-radius: 0 50% 50% 0;
}
.prev:hover,
.next:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.slider-2 {
  display: none;
}
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 66%, 50%);
}

@media screen and (max-width: 760px) {
  .container {
    background-image: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 70%;
    height: 100vh;
  }

  .background-image-container {
    display: flex;
    flex-direction: column;
  }

  .quote-img {
    position: absolute;
    height: 10%;
    left: 45%;
    top: 58%;
  }

  .pattern-bg {
    position: absolute;
    height: 50%;
    top: 3%;
    right: 5%;
  }

  .slider-1 img,
  .slider-2 img {
    width: 63%;
    height: 41.5%;
    left: 23%;
    top: 8%;
    background-size: contain;
    border-radius: 10px;
  }

  .button {
    position: absolute;
    top: 46%;
    left: 40%;
  }

  .prev,
  .next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 15px;
  }

  .prev img,
  .next img {
    width: 80%;
  }
  .text {
    top: 60%;
    left: 15%;
    width: 65%;
  }

  .quote {
    width: auto;
    font-weight: 300;
    font-size: 0.53em;
    text-align: center;
  }

  .attribute {
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 35%;
  }

  .name {
    font-weight: 700;
    font-size: 0.48em;
    margin: 15px 10px 1px 0;
  }

  .position {
    color:var(--Grayish-Blue);
    font-weight: 700;
    font-size: 0.48em;
    margin: 0px 10px 10px 0;
  }
}
